client/node_modules/
client/.env
client/dist/
client/package-lock.json

crawl-extractors/node_modules/
crawl-extractors/package-lock.json
crawl-extractors/.env

nlp/venv/
nlp/__pycache__
nlp/controllers/__pycache__
nlp/controllers/process/__pycache__
nlp/models/__pycache__
nlp/database/__pycache__

postgres/.env

rabbitmq/.env
rabbitmq/data/data/*
rabbitmq/data/logs/*
!rabbitmq/data/.gitkeep
!rabbitmq/data/data/.gitkeep
!rabbitmq/data/logs/.gitkeep

search-engine/node_modules/
search-engine/package-lock.json
search-engine/.env

server/node_modules
server/tmp
server/.env
server/database/*.sqlite
server/package-lock.json

site/