blis==0.7.4
catalogue==2.0.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
es-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/es_core_news_lg-3.0.0/es_core_news_lg-3.0.0-py3-none-any.whl
idna==2.10
Jinja2==2.11.3
joblib==1.0.1
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.6.2
numpy==1.20.2
packaging==20.9
pathy==0.5.2
preshed==3.0.5
psycopg2==2.8.6
psycopg2-binary==2.8.6
pydantic==1.7.3
pyparsing==2.4.7
python-decouple==3.6
regex==2021.4.4
requests==2.25.1
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
textdistance==4.2.1
thinc==8.0.3
tqdm==4.60.0
typer==0.3.2
Unidecode==1.2.0
urllib3==1.26.4
wasabi==0.8.2
