# node environment
NODE_ENV=<development or production>

# host and port
HOST=localhost
PORT=8001

# rabbitmq connection
RABBITMQ=amqp://localhost:5672/tesina
CONNECT_TO_RABBIT=true

# configure logs (default logs is send to rabbitmq)
PRINT_LOGS_ON_CONSOLE=true

# google cse configuration
# limited to 10.000 queries per day
GOOGLE_API=https://www.googleapis.com/customsearch/v1?

# unlimited queries but cost 5 dolars every 1000 queries.
# GOOGLE_API=https://www.googleapis.com/customsearch/v1/siterestrict?

CX=<your id google cse>
KEY=<your google key project>
